<div class="m-2">
    <h2>Login</h2>
    <div>
        <form [formGroup] = "loginForm" (ngSubmit)="login()">
            <div class="row">
                <div class="col-6">
                    <div mat-dialog-content>
                        <!--Contenedor del input-->
                        <mat-form-field class="w-100" appearance="fill">
                            <mat-label>Email</mat-label>
                            <input formControlName="email" matInput>
                        </mat-form-field>
                    </div>
                </div>
        
                <div class="col-6">
                    <div mat-dialog-content>
                        <!--Contenedor del input-->
                        <mat-form-field class="w-100" appearance="fill">
                            <mat-label>Contraseña</mat-label>
                            <input formControlName="password" matInput>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <button type="submit" mat-button>Iniciar</button>
            </div>
        </form>
    </div>    
</div>