.messageError{
    border: rgb(222, 94, 94) solid 1px;
    background-color: rgba(227, 121, 121, 0.561);
    text-align: center;
    border-radius: 5px;
    display: inline;
    padding: 2px 16px;
    color: rgb(67, 64, 64);
}