<div class="contenedor">
    <button (click)="visualizarLista()">Ver lista</button>

    @if(listaVisible){
        <div class="contenedorEstudiantes">
            @for(estudiante of estudiantes; track $index){
                <div class="cardEstudiante">
                    <p>Nombre: {{estudiante.nombre}}</p>
                    <p>Apellido: {{estudiante.apellido}}</p>
                    <p [ngClass] = "estudiante.rol == 'estudiante' ? 'estudiante' : 'docente'">{{estudiante.rol}}</p>
                </div>
            }
        </div>
    }
</div>
