<div class="d-flex justify-content-end mb-3">
    <button 
    mat-button color="accent"
    (click) = "openDialog()"
    >
    Crear usuario</button>
</div>

<!-- dataSource indica de donde sacar los datos -->
<table mat-table [dataSource]="users" class="mat-elevation-z8">
    <!-- Position Column | ng-container agrupa el contenido -->
    <ng-container matColumnDef="id">
        <!-- Encabezado de la columna -->
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <!-- Valores de la columna-->
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef>Apellido</th>
        <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Correo</th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef>CreatedAt</th>
        <td mat-cell *matCellDef="let element"> {{element.createdAt | date}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>