<mat-drawer-container class="example-container" autosize>
    <mat-drawer 
        [opened]="!isMobile()" 
        #drawer 
        class="example-sidenav" 
        [mode] = "isMobile() ? 'over' : 'side'"
    >   
        <h3>Menu</h3>
        <div class="row">
            <button class="mb-2" mat-button>Login</button>
            <button class="mb-2" mat-button>Home</button>
            <button class="mb-2" mat-button>Usuario</button>
        </div>
    </mat-drawer>

    <!--CONTENIDO DE LA DERECHA -->
    <div class="example-sidenav-content">
        
        <mat-toolbar color="accent">
            <button (click)="drawer.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon>menu</mat-icon>
            </button>
            <span>My Application</span>
        </mat-toolbar>

        <!-- Muestra los alumnos -->
        <main style="padding: 40px;">
            <app-pipes-y-directivas></app-pipes-y-directivas>
            <app-users></app-users>
        </main>
    </div>

</mat-drawer-container>